body{
    background-image: url("C:\\Users\\Admin\\Downloads\\51384.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 10%;
}
#object1{
    width:700px;
    height:600px;
    float:left;
}
.image{
    position:relative;
    top:0px;
    right:30px;
}
.form{
    position:absolute;
    top: 0px;
    right:0px;
}
.B{
    text-align:center;
}